{% extends 'admin/change_form.html' %}
{% load unfold %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        {% unfold_action_button "_update-information-from-api" "Update Information (From API)" "refresh" %}
        {% unfold_action_button "_update-stories-from-api" "Update Stories (From API)" "pencil" %}
        {% unfold_action_button "_update-follower-from-api" "Update Follower (From API)" "users" %}
        {% unfold_action_button "_update-following-from-api" "Update Following (From API)" "user-plus" %}
    </div>
{% endblock %}
